html{
    background-color: rgb(31, 31, 31);
    text-align: center;
}

button{
    border: solid goldenrod 3px;
}

button:focus{
    outline: none;
}

button:hover{
    border: solid rgb(255, 194, 39) 3px;
    box-shadow: 0px 0px 8px 1px goldenrod;
}

#rock {
    background: url(images/rock-paper-scissors.png) 15px -20px;
    background-repeat: no-repeat;
    background-color: white;
}

#paper {
    background: url(images/rock-paper-scissors.png) -185px 0;
    background-repeat: no-repeat;
    background-color: white;
}

#scissors {
    background: url(images/rock-paper-scissors.png) -80px 0px;
    background-repeat: no-repeat;
    background-color: white;
}

#reset {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: white;
}

#playButtonContainer{
    padding-top: 10px;
}

#score p{
    color: white;
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    white-space: pre;
}

#results p{
    color: white;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.gameButton {
    height: 120px;
    width: 100px;
    margin: 20px;
    border-radius: 30px;
}

.sectionDivider{
    height: 10px;
    background-color: white;
    display: block;
}